<div class="container-fluid">
     <div class="row">
          <div class="col"></div>
          <div class="col-9">
               <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                    <ngb-panel title="What is this?">
                         <ng-template ngbPanelContent>
                              A template app thing.
                         </ng-template>
                    </ngb-panel>
                    <ngb-panel title="What is this doing for the owner?">
                         <ng-template ngbPanelContent>
                              Teaching him things.
                         </ng-template>
                    </ngb-panel>
               </ngb-accordion>
          </div>
          <div class="col"></div>
     </div>
</div>
